.on-off {
    
}
.on-off span {
    display: inline-block;
    padding: 5px;
    border: 1px solid #000;
    margin-right: 5px;
}

.indicator {
    border-radius: 50%;
}
.indicator.on {
    background-color: lightgreen;
}
.indicator.off {
    background-color: lightcoral;
}
.on.active {
    background-color: lightgreen;
}

.off.active {
    background-color: lightcoral;
}